@charset 'utf-8';

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
:root {
  --color-white: #fff;
  --color-black: #171717;
  --color-gray100 : #D7D7D7;
  --color-gray200 : #C3C3C3;
  --color-gray500: #939393;
  --color-gray600: #535353;
  --color-red : #FD5631;
  --primary: #FD8731;
  --color-orange100 : #FFF0E5;
  --color-orange300 : #FFD4B5;
  --color-orange400 : #FFA96A;
  --color-orange500 : #F6700E;
 }

* {
  padding: 0;
  margin: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  color: var(--color-black);
  overflow: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  outline: none;
}

/* input[type=file]::file-selector-button {
  width: 100px;
  height: 28px;
  background-color: var(--color-orange300); 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 25px;
  margin-left:0px;
  color: #fff;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-orange100) inset;
  box-shadow: 0 0 0px 1000px var(--color-orange100) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-orange100) inset;
  box-shadow: 0 0 0px 1000px var(--color-orange100) inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
    overflow: overlay;
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: var(--primary); /* 스크롤바의 색상 */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
  /* background-color: transparent;
  overflow: overlay; */
  display: none;
}