body{
  -ms-overflow-style: none;
  }
 ::-webkit-scrollbar {
   display: none;
 }

.backGroundContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.backGroundContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: transform 1s ease-in-out; /* 슬라이딩 애니메이션 설정 */
}

.backgroundItem {
  flex: 0 0 100%; /* 각 배경 이미지가 전체 너비를 차지하도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.backGroundImg {
  width:100vw;
  height:87vh;
  filter: blur(0.2px);
  filter: brightness(90%);
  object-fit: cover; /* 이미지 비율 유지 및 container에 꽉 차도록 설정 */
}

/* 특정 부분 스크롤바 없애기 */
.box{
   -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
  display:none;
}

.loginContainer {
  position: absolute;
  top:50%;
  left:75%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 530px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  transition: left 0.5s ease-in-out;
}

.LoginHead {
  padding: 26px 0px 30px 0px;
}

.inputLogin {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--color-gray100);
  border-radius: 25px;
}

input.inputLogin:focus {
  outline: 1px solid var(--primary);
  border: 1px solid var(--color-white);
}

.btn {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--color-white);
  transition: background-color 0.3s, color 0.3s;
}

.inputLogin.btn:hover {
  background-color: var(--color-orange500);
  border: 1px solid var(--color-orange500);
}

.append {
  color: var(--color-red);
  font-size: 12px;
}

.additionalButtons {
  margin: 6px 0 26px 0;
}

.additionalButtons button {
  display: inline-block;
  margin: 0 12px 0 12px;
  color: var(--color-gray500);
  transition: color 0.3s;
}

.additionalButtons button:hover {
  color: var(--primary);
}

.socialButtons button {
  padding: 15px;
  border: 1px solid var(--color-gray100);
  border-radius: 25px;
  outline: none;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  width:100%;
  height:45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 네이버 로그인 버튼 스타일 */
.socialButtons .naver {
  background-color: #03c75a; 
  color: #fff; 
  border: 1px solid #03c75a; 
}

/* 네이버 로그인 버튼 hover 스타일 */
.socialButtons .naver:hover {
  background-color: #17B75E; 
}

/* 카카오 로그인 버튼 스타일 */
.socialButtons .kakao {
  background-color: #FEE500; 
  color: #000; 
  border: 1px solid #FEE500; 
}

/* 카카오 로그인 버튼 hover 스타일 */
.socialButtons .kakao:hover {
  background-color: #FFD600; 
}

/* 구글 로그인 버튼 스타일 */
.socialButtons .google {
  background-color: var(--color-white); 
  color: #000; 
  border: 1px solid #808080;
}

/* 구글 로그인 버튼 hover 스타일 */
.socialButtons .google:hover {
  border: 2px solid #808080;
}

.socialButtons img {
  margin-right: 10px;
  max-height: 20px;
}

.signupContainer {
    position: relative;
    z-index: -99;
}

.signupSection {
    position: absolute;
    right: -300%;
    transition: right 0.5s ease-in-out;
}

#step2, #step3 {
    left: -100%;
}

#step3 {
    left: -200%;
}