body{
  -ms-overflow-style: none;
  }
 ::-webkit-scrollbar {
   display: none;
 }
 
.backGroundContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.backGroundContainer ul.backGroundList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: transform 1s ease-in-out; /* 슬라이딩 애니메이션 설정 */
}

.backgroundItem {
  flex: 0 0 100%; /* 각 배경 이미지가 전체 너비를 차지하도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.backGroundImg {
  width:100vw;
  height:87vh;
  filter: blur(0.2px);
  filter: brightness(90%);
  object-fit: cover; /* 이미지 비율 유지 및 container에 꽉 차도록 설정 */
}

/* 특정 부분 스크롤바 없애기 */
.box{
   -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
  display:none;
}

.loginContainer {
  position: absolute;
  top:50%;
  left:75%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 0;
  height: 530px;
  text-align: center;
	transition: all 0.3s;
	z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#naverIdLogin, #findIdForm,
#signupContainer, #signupStep2,
#signupStep3, #findPwForm {
  opacity: 0;
  visibility: hidden;
	width: 0;
	padding: 0;
	position: absolute;
}

#signupContainer, #signupStep3, #signupStep4 {
	overflow: scroll;
}

#signupStep3::-webkit-scrollbar {
	display: block;
	height: 0;
  width: 20px;
}

/* 스크롤바 막대 설정*/
#signupStep3::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px; 
	border: 7px solid #fff;
}

#signupStep3::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0);
}

#signupStep3::-webkit-scrollbar-button:vertical:start:decrement,
#signupStep3::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 50px;
}

#signupStep3::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  width: 50px;
}

#signupStep4 {
  display: flex;
  justify-content: center;
}

._act {
	width: 400px !important;
  opacity: 1 !important;
  visibility: visible !important;
  padding: 20px 30px !important;
  z-index: 0 !important;
}

.loginForm {
	margin-bottom : 20px
}

.LoginHead {
  padding: 26px 0px 30px 0px;
}

.btn {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--color-white);
  transition: background-color 0.3s, color 0.3s;
}

.inputLogin.btn:hover {
  background-color: var(--color-orange500);
  border: 1px solid var(--color-orange500);
}

.append_login {
  color: var(--color-red);
  font-size: 12px;
}

.append_join {
	color: var(--color-red);
  font-size: 12px;
  height: 20px;
}

.additionalButtons {
  margin: 6px 0 26px 0;
}

.additionalButtons button {
  display: inline-block;
  margin: 0 12px 0 12px;
  color: var(--color-gray500);
  transition: color 0.3s;
}

.additionalButtons button:hover {
  color: var(--primary);
}

.socialButtons button {
  padding: 15px;
  border: 1px solid var(--color-gray100);
  border-radius: 25px;
  outline: none;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  width:100%;
  height:45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 네이버 로그인 버튼 스타일 */
.socialButtons .naver {
  background-color: #03c75a; 
  color: #fff; 
  border: 1px solid #03c75a; 
}

/* 네이버 로그인 버튼 hover 스타일 */
.socialButtons .naver:hover {
  background-color: #17B75E; 
}

/* 카카오 로그인 버튼 스타일 */
.socialButtons .kakao {
  background-color: #FEE500; 
  color: #000; 
  border: 1px solid #FEE500; 
}

/* 카카오 로그인 버튼 hover 스타일 */
.socialButtons .kakao:hover {
  background-color: #FFD600; 
}

/* 구글 로그인 버튼 스타일 */
.socialButtons .google {
  background-color: var(--color-white); 
  color: #000; 
  border: 1px solid #808080;
}

/* 구글 로그인 버튼 hover 스타일 */
.socialButtons .google:hover {
  border: 2px solid #808080;
}

.socialButtons img {
  margin-right: 10px;
  max-height: 20px;
}

.joinlabel {
	display: inline-flex;
  padding: 0 0 5px 5px;
  font-size: 14px;
  font-weight: 500;
}

.userIdContainer {
	display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.append-margin-bottom {
	margin-bottom: 10px !important;
}

#userId, #authnum {
	margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  width: 70%;
}

.authmailBtn_style {
	width: 25%;
  padding: 15px;
  border: 1px solid var(--primary);
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  background-color: var(--primary);
  color: var(--color-white);
  max-height: 49px !important;
  transition: background-color 0.3s;
}

.authmailBtn:hover {
	background-color: var(--color-orange500);
}

.authmailContainer {
	display: none;
}

.authmailLabel {
	justify-content: left;
  display: flex;
}

.authmailLabel > .joinlabel {
	animation: colorChangeAdvanced 2s infinite 
					  linear
					  alternate;
}

@keyframes colorChangeAdvanced {
    0% {color: #FFD4B5;}
    25% {color: #FFAE73;}
    50% {color: #FD8731;}
    100% {color: #FF5B37;}
}

.authmailLabel > span{
  font-size: 14px;
  color: var(--primary);
  padding-left: 13px;
}

.authmailInput {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

._join {
	/* margin-bottom: 0; */
}

.userPwContainer {
	height: 49px;
	position: relative;
	margin-bottom: 6px;
}

#userPw,
#PASS_WORD {
	width: calc(100% - 32px);
  position: absolute;
  left: 0;
}

.showPw {
  position: absolute;
  top: calc(100% - 33px);
  right: 29px;
}

.showPw > img {
	width: 23px;
}

.capslock {
	visibility: hidden;
	opacity: 0;
	position: absolute;
  right: 0;
  top: 43px;
  padding: 5px;
  font-size: 13px;
  background-color: rgba(253, 135, 49, 0.8);
  color: #fff;
  width: 140px;
  border-radius: 5px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.capslock::after {
  border-top: 0px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid rgba(253, 135, 49, 0.8);
  content: "";
  position: absolute;
  top: -10px;
  left: 6px;
}

.active {
	top: calc(100% - 34.5px);
	height: 19.8px;
}

.reginumbWrap {
	text-align: left;
}

.reginumbWrap > span {
	font-size: 18px;
  font-weight: 500;
  color: var(--color-gray100);
  letter-spacing: 4px;
}

.regi {
	margin-right: 3px;
}

.regi2 {
  width: 8px;
  margin-right: 3px;
}

.btnContainer {
	justify-content: space-between;
  display: flex;
  padding: 0 4px 0px 4px;
}

.step4 {
	padding: 0 4px 20px 4px;
  transform: translateY(-20px)
}

.waybtn {
	background-color: var(--color-gray100);
  color: var(--color-white);
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 17px;
  transition: all 0.3s;
}

.next {
	background-color: var(--primary);
}

.waybtn:hover {
	background-color: var(--color-gray200);
}

.waybtn.next:hover {
	background-color: var(--color-orange500);
}

.signupContainer {
    position: relative;
    z-index: -99;
}

.signupSection {
    position: absolute;
    right: -300%;
    transition: right 0.5s ease-in-out;
}

.pro {
	width: 90px;
	height: 90px;
	border: 4px solid var(--color-white);
}

.bubble {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 50%;
  width: 180px;
  height: 26px;
  background-color: var(--color-white);
  border-radius: 31px;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-weight: 500;
  font-size: 13px;
  animation: motion 0.9s infinite ease-in-out alternate;
  display: flex;
}

@keyframes motion {
  from{
    transform: translate(-50%, 0px);
  }
  to{
    transform: translate(-50%, -5px);
  }
}

textarea#userSelf {
	border-radius: 10px;
	height: 30px;
}

.regionArea {
	text-align: left;
}

.regionArea p:nth-of-type(1)  {
	font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.regionArea p:nth-of-type(2)  {
	font-size: 14px;
  color: var(--color-gray500);
  line-height: 22px;
}

.level1 {
	display: flex;
	padding: 18px 0;
  flex-wrap: wrap;
  font-size: 15px;
}

.regionList {
	flex: 1 1 30%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
}

.parentWrap {
	padding: 10px 0;
  cursor: pointer;
  background-color: var(--color-white);
  border-radius: 20px;
  margin: 5px;
  width: 92%;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 0px;
}

.parentWrap_active {
	font-weight: 500;
  width: calc(100% - 20px);
  background-color: var(--color-orange400);
  color: var(--color-white);
  box-shadow: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.parent_active {
  font-weight: 500;
  background-color: var(--color-white);
  color: var(--primary);
  border-radius: 20px;
  padding: 3px 8px;
}


.regionList:hover {
	transform: scale(1.03);
	font-weight: 500;
}


.level2 {
	display: none;
	justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-orange400);
  color: var(--color-white);
  border-radius: 16px;
  width: calc(400px - 40px);
  margin-top: 10px;
  transition: all 0.3s;
  /* position: absolute;
  z-index: 1;
  top: 210px;  */
}

.level2 li{
  padding: 6px;
}

.level2_active {
	display: flex;
	margin: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transform: translateY(-7px);
}

.child {
	justify-content: center;
	flex: 1 1 20%;
	width: fit-content;
	color: var(--color-white);
	padding: 6px;
  border-radius: 15px;
  transition: all 0.3s;
}

.child:hover{
	background-color: var(--color-white);
	color: var(--primary);
}

.clicked {
	background-color: var(--color-white);
	color: var(--primary);
	font-weight: 500;
}

.mypage-bg {
	height: calc(32% + 20px);
  background-color: #FBAF77;
  width: calc(100% + 30px * 2);
  transform: translate(-30px, -20px);
  position: relative;
}

.bg-preview {
	display: none;
	width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.bg-update {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  bottom: 28px;
  right: 30px;
  background-color: rgba(147, 147, 147, 0.6);
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s;
  cursor: pointer;
}

.bg-update img {
	width: 26px;
	height: 26px;
}

.show-bg {
	display: block;
}

.none-bg {
	display: none;
}

.bg-remove {
	display: none;
	bottom: 28px;
  right: 78px;
}

.bg-remove > img {
	width: 18px;
	height: 18px;
}


.p-updateBtn {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--primary);
  border: 3px solid var(--color-white);
  display: flex;
  justify-content: center;
  transform: translate(68px, -38px);
  cursor: pointer;
}

.p-updateIcon {
	width: 12px;
  object-fit: contain;
}

.profileImgContainer {
  position: absolute;
	top: 241px;
  left: 112px;
	opacity: 0;
  visibility: hidden;
  background-color: var(--color-white);
	padding: 0px;
	width: 228px;
	height: 0px;
	border-radius: 16px;
	transition: all 0.3s;
	border-top-left-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 15px;
}

.p_visible {
	z-index: 1;
	opacity: 1;
  visibility: visible;
  padding: 12px;
  height: 140px;
}

/* .profileImgContainer.popup::after {
	content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  border-bottom: 30px solid var(--color-gray100);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
} */

.profileImgList {
	display: inline-flex;
  float: left;
	flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.basicProfileItem {
	margin: 5px;
	cursor: pointer;
	flex: 0 0 20%;
}

.basic-p {
	width: 46px;
	height: 46px;
}

.basic-p:hover {
	filter: brightness(0.9);
}

.upload {
	width: 46px;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(147, 147, 147, 0.6);
  border-radius: 50%;
  transform: translate(83px, -50px);
  transition: all 0.3s;
}

label.upload > img {
	width: 30px;
  height: 30px;
}

.upload:hover,
.bg-update:hover {
	backdrop-filter: brightness(0.8);
}

.profileImgContainer > p {
	font-size: 12px;
	transform: translate(0px, -40px);
	cursor: pointer;
}

.profileImgContainer>p:hover {
	font-weight: 500;
}

input[type="file"]#choosebg,
input[type="file"]#chooseImg {
	position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.user {
	text-align: left;
  padding: 0 6px;
  transform: translateY(-80px);
}

.user > .nickname {
	font-size: 18px;
  font-weight: 600;
  line-height: 11px;
}

.user > p {
  line-height: 32px;
}

.user > .id {
	font-size: 12px;
	color: var(--color-gray500);
}

.user > .selfIntro {
	color: var(--color-gray600);
  font-size: 14px;
}

.pickedRegiContianer{
	margin-top: 35px;
} 

.pickedRegiContianer > h3 {
	font-size: 17px;
}

.pickedRegiContianer > h3 > img{
	height: 13px;
}

.pickedRegi > h3 {
	font-size: 14px;
}


.regiList {
	font-size: 14px;
}

.parentRegiItem {
	padding: 6px 0;
}

.pickedChildRegiList {
	display: flex;
	flex-wrap: wrap;
}

.pickedChildRegiitem {
	color: var(--color-gray500);
  background-color: #eee;
  padding: 2px 6px;
  border-radius: 13px;
  margin: 4px 4px 4px 0;
}