@charset "UTF-8";

.contentsContainer {
  margin: 51px auto;
  width: 1132px;
  position: relative;
  padding: 30px 0 30px 0;
}

.contentsHeader {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.areaTitle {
  position: relative;
  padding: 0px 17px 0px 20px;
}

.moimRegiBtn {
	position: relative;
  overflow: hidden;
  margin-right: 17px;
  font-size: 14px;
  border-radius: 10px;
  background: var(--primary);
  color: #fff;
  padding: 4px 10px;
  width: 110px;
  height: 36px;
  font-weight: 500;
  text-align: center;
}

.contentsList {
  margin: 19px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;	
}

.Contents {
  padding: 25px 13px 25px 23px;
}

.eachWrap {
	cursor: pointer;
}

.none {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 66px
}

.end {
	filter: brightness(0.5);
}

.end::before {
	content: '마감되었어요';
  color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}