@charset "UTF-8";

.bannerContainer {
  width: calc(100vw - (100vw - 100%));
}

.bannerImg {
  width: 100%;
  object-fit: cover;
}

.contentsContainer {
  padding: 30px 0 30px 0;
  width: 1132px;
  position: relative;
  margin: 51px auto;
}

.areaTitle {
  position: relative;
  padding: 0px 17px 0px 20px;
}

.moimMakeArea{
	
  position: absolute;
  right: 14px;
}

.contentsList {
  margin: 19px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;	
}

.Contents {
  padding: 25px 13px 25px 23px;
}

.eachWrap {
  width: 244px;
  height: 390px;
  overflow: hidden;
  border: 1px solid var(--color-gray100);
  border-radius: 10px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.thumnailContainer {
  width: 100%;
  height: 244px;
}

.thumnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoContainer {
  padding: 11px;
}

.hashtagContainer {
  margin-top: 6px;
}

.hashtag {
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  margin-right: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.3s ease;
}

.hashtag:hover {
  background-size: 100% 100%;
  color: var(--color-white);
}

.locationDateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray500);
  font-size: 14px;
  margin-top: 3px;
}

.locationContainer {
  display: flex;
  align-items: center;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-top: 6px;
}

.userProfileWrap {
  display: flex;
  align-items: center;
}

.profileImgWrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nickname {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.heartWrap {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: right;
}

.heartIcon {
  width: 40px;
  /* margin-right: 13px; */
}

.heartCount {
  color: var(--color-red);
  font-size: 10px;
  position: absolute;
  bottom: 2px;
  letter-spacing: -0.7px;
  font-weight: 600;
}
.none {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 66px
}

.arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 390px;
  border-radius: 8px;
  transition: all 0.2s linear 0s;
  opacity: 0;
  position: absolute;
  bottom: 50px;
}

._hover {
  opacity: 1;
