@charset "UTF-8";

/*========== 포인터 이벤트 막기 ==========*/
._pointer-none {
	pointer-events: none !important;
}


/*========== flexbox 수직수평 가운데 정렬 ==========*/
.flexbox-items-center {
	display: flex !important;
	justify-content: center !important;
  align-items: center !important;
}


/*========== display block 처리 ==========*/
.block_element {
	display: block !important;
}

/*========== display none 처리 ==========*/
.none_element {
	display: none !important;
}


/*========== display flex 처리 ==========
	display none -> flex 될 때 사용
*/
.show_flex_element {
	display: flex !important;
}


/*========== visibility visible 처리 ==========*/
.show_hidden_element {
	visibility: visible !important;
  opacity: 1 !important;
}


/*========== 기본 버튼 스타일 ==========*/
.basicBtn {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  background-color: var(--primary);
  color: var(--color-white);
  font-size: 16px;
  transition: all 0.3s, color 0.3s;
	margin: 0 6px;
	
	position: relative;
}

.basicBtn:hover {
	background-color: var(--color-orange500);
}


/*========== 기본 input 태그 ==========*/
.basicInput {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--color-gray100);
  border-radius: 25px;
}

input.basicInput:focus {
  /* outline: 1px solid var(--primary); */
  border: 1px solid var(--primary);
}


/*========== 상단 배너 ==========*/
.bannerContainer {
  width: calc(100vw - (100vw - 100%));
}

.bannerImg {
  width: 100%;
  object-fit: cover;
}


/*========== 슬라이드 화살표 버튼 ==========*/
.arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 390px;
  border-radius: 8px;
  transition: all 0.2s linear 0s;
  opacity: 0;
  position: absolute;
  bottom: 30px;
  z-index: -1;
}

.left {
  background: url('../../img/icon/arrowL.png') no-repeat,
              linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
  background-position: center center;
  left: 2px;
}

.right {
  right: 2px;
  background: url('../../img/icon/arrowR.png') no-repeat,
              linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
  background-position: center center;
}

._hover {
	opacity: 1;
	z-index: 0;
}


/*========== 프사 둥글게 ==========
   1. 감싸는 div 								*/
	.profileImgWrap {
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  overflow: hidden;
	  background-color: #fff;
	}
	
/* 2. img 태그 									*/
	.profileImg {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
	

/*========== 해시태그 + 호버하면 바탕색 올라감 ==========*/
.hashtag {
  padding: 4px 8px 4px 7px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  margin-right: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.3s ease;
}

.hashtag:hover {
  background-size: 100% 100%;
  color: var(--color-white);
}


/*========== 툴팁 스타일 ==========*/
.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*========== 좋아요 아이콘 ==========*/
#heart, #heartFill {
	display: none;
}

.heartCount {
  color: var(--color-red);
  font-size: 10px;
  letter-spacing: -0.7px;
  font-weight: 600;
  margin-top: 23px;
}

.heart-box{
  display: none;
}

.heart-box + .heartIcon {
  width: 38px;
  height: 38px;
  cursor: pointer;
  position: absolute;
  right: calc(100% - 7px);
}

label.heartIcon {
  background-repeat: no-repeat;
  background-image: url('../../img/icon/heartIcon.png');
  background-size: 100%;
  content: "";
	transition: transform 0.4s ease;
}

label.heartIcon.checked {
  background-image: url('../../img/icon/heartFillIcon.png') !important; /* !important를 사용하여 우선순위를 높입니다. */
}

label.heartIcon:hover {
	transform: scale(1.1);
}