@charset "UTF-8";

/* 베이직 버튼 */
.basicBtn {
  width: 90px;
  height: 36px;
  border-radius: 12px;
  background-color: var(--primary);
  color: var(--color-white);
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
	margin: 0 6px;
}

.basicBtn:hover {
  background-color: var(--color-orange500);
}

/* 프사 둥글게 
   1. 감싸는 div */
	.profileImgWrap {
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  overflow: hidden;
	}
	
/* 2. img 태그 */
	.profileImg {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
	
	
/* 좋아요 아이콘 */
.heartIcon {
  width: 38px;
  /* margin-right: 13px; */
}

#heart, #heartFill {
	display: none;
}

.heartCount {
  color: var(--color-red);
  font-size: 10px;
  position: absolute;
  letter-spacing: -0.7px;
  font-weight: 600;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']+label {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

label {
  background-repeat: no-repeat;
  background-image: url('../../img/icon/heartIcon.png');
  background-size: 100%;
  content: "";
}

label.checked {
  background-image: url('../../img/icon/heartFillIcon.png');
}


/* 툴팁 스타일 */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 슬라이드 화살표 버튼 */
.arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 390px;
  border-radius: 8px;
  transition: all 0.2s linear 0s;
  opacity: 0;
  position: absolute;
  bottom: 30px;
  z-index: -1;
}

.left {
  background: url('../../img/icon/arrowL.png') no-repeat,
              linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
  background-position: center center;
  left: 2px;
}

.right {
  right: 2px;
  background: url('../../img/icon/arrowR.png') no-repeat,
              linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
  background-position: center center;
}

._hover {
	opacity: 1;
	z-index: 1;
}

/* 해시태그 + 호버하면 바탕색 올라감 */
.hashtag {
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  margin-right: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.3s ease;
}

.hashtag:hover {
  background-size: 100% 100%;
  color: var(--color-white);
}