@charset "UTF-8";
/*
admin:Hwai
comAlert버튼 
!! hover작업시 :not([disabled]):hover <--붙여야합니다! 
버튼 타입 설명
확인 : .swal-button
취소 : .swal-button--cancel
위험 : .swal-button--danger
로딩 : .swal-button--
*/
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: var(--primary);
  border: 1px solid var(--color-gray100);
  font-size: 14px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:not([disabled]):hover{
	background-color:#F6700E;
}
