@charset "UTF-8";

.registerContainer {
  margin: 40px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 121px - 80px);
}

.innerContainer {
  position: relative;
  width: 834px; 
  height: 100%;
  padding: 40px 60px;
  background: var(--color-white); 
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.21);
  /* overflow: hidden; */
}

.innerContainer h2 {
	text-align: center;
	margin-bottom: 25px;
}

.formContainer {
	display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100% - 80px);
  width: calc(100% - 120px);
}

.inputWrapper {
	display: flex;
	flex-direction: column;
  align-items: center;
	margin: 6px 0;
	height: calc(100% - 61px);
  width: 100%;
}

#step1, #step2, #step3, #step4 {
	opacity: 0;
  visibility: hidden;
	width: 0;
	height: calc(100% - 61px);
	transition: all 0.3s;
	overflow-y: scroll;
	overflow-x: hidden;
}

.show_step {
	width: 714px !important;
  opacity: 1 !important;
  visibility: visible !important;
  position: absolute;
}

.eachInputWrap {
	width: 100%;
	display: flex;
  flex-direction: column;
  margin: 6px 0 18px 0;
}

.eachInputWrap > h3 > .required {
	color: var(--color-red);
}

.addPicked {
	background-color: var(--color-orange400);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 2px 12px !important;
  border-radius: 12px;
  margin-left: 7px;
}

#step2 > .eachInputWrap {
	margin-bottom: 34px;
}

#step3 > .eachInputWrap,
#step3 > .row {
	margin-bottom: 28px;
}

.catesection {
	margin: 6px 0 18px 0;
}

.categoryContainer {
	display: flex;
	flex-wrap: wrap;
}

.categoryList {
	display: flex;
	padding: 8px 0;
  flex-wrap: wrap;
  font-size: 15px;
}

.level1 {
	flex: 1 1 40%;
  transition: all 0.3s;
  height: 50px;
  margin: 6px;
  cursor: pointer;
}

.level1:hover {
	transform: scale(1.03);
}


.level1_active {
	background-color: var(--color-orange400) !important;
	color: var(--color-white);
}

.parent_active {
	background-color: var(--color-orange400) !important;
	color: var(--color-white);
	font-weight: 500 !important;
	border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}



.parent {
  background-color: var(--color-white);
  border-radius: 20px;
  border: 1px solid var(--color-gray100);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.parent > img {
	margin-right: 5px;
	width: 20px;
}

.name_act {
	font-weight: 500;
  width: calc(100% - 20px);
  background-color: var(--color-orange400);
  color: var(--color-white);
  box-shadow: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* .parent_active {
  font-weight: 500;
  background-color: var(--color-white);
  color: var(--primary);
  border-radius: 20px;
  padding: 3px 8px;
}
 */

.level2 {
	display: none;
	justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-orange400);
  border: 1px solid var(--color-gray100);
  color: var(--color-white);
  border-radius: 16px;
  margin-top: 10px;
  transition: all 0.3s;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transform: translateY(-12px);
  position: absolute;
  width: 341px;
}

.level2 li{
  padding: 6px;
}

.level2_active {
	display: flex;
}

.child {
	justify-content: center;
	flex: 1 1 20%;
	width: fit-content;
	color: var(--color-white);
	padding: 6px;
  border-radius: 15px;
  transition: all 0.3s;
}

.child:hover{
	background-color: var(--color-white);
	color: var(--primary);
}

.picked_child {
	background-color: var(--color-white);
	color: var(--primary);
}

.eachLabel {
  padding: 5px 0 5px 5px;
  font-weight: 600;
  font-size: 18.72px;
}

.eachLabel > span {
	color: var(--color-red);
}

.secondLabel {
	font-size: 15px;
	margin: 12px 0;
	display: flex;
  align-items: center;
}

.secondLabel > img {
  width: 18px;
  margin-right: 5px
}

.register-p {
	margin: 8px;	
}

#gatherCost {
	display: none;
}

.btnContainer {
  position: sticky;
	width: 0;
  bottom: 0;
  justify-content: space-between;
  display: flex;
  z-index: 1;
}

.btnContainer_act {
  width: 100%;
}

.waybtn {
	background-color: var(--color-gray100);
  color: var(--color-white);
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 17px;
  transition: all 0.3s;
}

.next {
	background-color: var(--primary);
}

.waybtn:hover {
	background-color: var(--color-gray200);
}

.waybtn.next:hover {
	background-color: var(--color-orange500);
}

.gatherTitle {
  font-size: 18.72px;
  font-weight: 600;
}

.moimRegion {
	display: none;
	margin-right: 18px;
	margin-top: 0;
}

.costBtn {
  height: 46px;
}

.costBtn[data-cost="Y"],
.apprBtn[data-appr="Y"] {
	margin-right: 5px;
}

.costBtn[data-cost="N"],
.apprBtn[data-appr="N"] {
	margin-right: 10px;
  margin-left: 5px;
}

.cost_act,
.appr_act,
.gender_act {
	background-color: var(--color-orange400);
  color: #fff;
  border: none;
}

.gatherWhen {
	padding:0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gatherWhen > div {
	width: 50%;
}

.gatherWhen > div > label {
	font-weight: 500;
  font-size: 14px;
}

.gatherWhen > div > input {
	width: 70%;
	margin-right: 0;
	margin-left: 4px;
}

.searchMap {
	border-radius: 20px;
  font-size: 14px;
  height: 38px;
  width: 230px;
  margin: 12px 8px;
}

#map {
	width: calc(100% - 26px);
	height: 300px;
	margin: 0 8px;
	opacity: 0;
}

.show_kamap {
	opacity: 1 !important;
}

.apprBtnContainer {
	display: flex;
}

.apprBtn {
	cursor: pointer;
	flex-direction: column;
	height: 78px;
}

.apprBtn > label {
	cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
}


.apprBtn > p {
	cursor: pointer;
	font-size: 13px;
	color: var(--color-gray500);
}

.appr_act > p {
	color: #fff;	
}

.peopleCount {
	
}


.genderBtn {
	cursor: pointer;
	margin: 5px;
  height: 49px;
}

#uploadFileBox {
  margin: 12px 8px;
  height: 120px;
}

#uploadList {
	display: flex;
}

.uploadItem {
	width: 110px;
	height: 110px;
	margin: 0 5px 5px 0;
	border: 1px solid var(--color-gray100);
}

.picked_thumnail {
	border: 2px solid var(--primary);
	width: 108px;
  height: 108px;
}

.uploadItem > img,
.previewWrapper > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* 연령대 슬라이더 */
[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 12px 0;
}
 
[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  margin: 0 7px;
}
 
[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  margin: 0 7px;
}
 
[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: var(--primary);
}
 
[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}
div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}
 
div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}
 
div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}
 
div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}
 
div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
 
div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}
 
div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}
 
div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}
 
div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}
 
[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: var(--primary);
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
 
[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: var(--primary);
}
 
[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}
 
[slider]:hover > div > [sign] {
  opacity: 1;
}
