@charset "UTF-8";

.closebar {
	margin: 22px auto;
  width: 834px;
  border-radius: 14px;
  background-color: var(--color-white);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  animation: colorChangeAdvanced 2s infinite 
					  linear
					  alternate;
}

@keyframes colorChange {
    from {
    	background-color: var(--color-white);
    	color: var(--primary);
    }
    to {
    	background-color: var(--primary);
    	color: var(--color-white);
    }
}

@keyframes colorChangeAdvanced {
    0% {color: #FFD4B5;}
    25% {color: #FFAE73;}
    50% {color: #FD8731;}
    100% {color: #FF5B37;}
}

.backgroundImg {
  z-index: -1;
  filter: blur(100px);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  opacity: 1;
}

.detailContainer {
  margin: 40px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideContainer {
	position: relative;
	padding: 0 25px 0 25px;
}

.detail {
  position: absolute;
  top: 0px;
  height: 100%;
  border-radius: 10px;
}

.dl {
	left: -20px;
  background: url('../../img/icon/arrowL.png') no-repeat,
  					  linear-gradient(90deg, rgba(62,62,62,0.19) 0%, rgba(89,89,89,0.18531162464985995) 100%);
	background-position: center center;
}

.dr {
	right: -20px;
  background: url('../../img/icon/arrowR.png') no-repeat,
  					  linear-gradient(-90deg, rgba(62,62,62,0.19) 0%, rgba(89,89,89,0.18531162464985995) 100%);
	background-position: center center;
}

.imgSlideList{
	overflow: hidden;
}

.imgWrap {
	width: 834px;
  height: 398px;
  display: flex;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

.dotsContainer {
	display: flex;
  justify-content: center;
  padding-top: 10px;
}

.dot {
	width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: all 0.4s ease-out;
  cursor: pointer;
}

._active {
  width: 19px;
  border-radius: 32px;
}

.detailInfoContainer {
  width: 834px; 
  margin-top: 28px;
  padding: 60px 60px 40px 60px;
  background: var(--color-white); 
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.21);
}

.headArea {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px var(--color-gray500) solid;
}

.detailTitle {
  font-size: 28px;
  word-wrap: break-word;
}

.category {
  color: var(--color-gray500); 
  font-size: 14px; 
  font-weight: 500;
  line-height: 28px; 
  word-wrap: break-word;
}

.intro {
  font-size: 16px;
  font-weight: 500; 
  line-height: 38px; 
  word-wrap: break-word;
  padding: 30px 0 40px 0;
}

.icons {
  display: flex;
  align-items: center;
}

.heartContainer {
	position: relative;
}

.detailHeart {
	display: inline-block !important;
  position: static  !important;
}

.detailC {
	position: absolute;
	left: calc(100% - 4px);
}

.d {
  width: 40px;
  cursor: pointer;
}

.dc {
	bottom: 8px;
  font-size: 12px;
  left: 38px;
}

.bookmarkIcon {
	width: 40px;
  margin-left: 26px;
  cursor: pointer;
}

.eachInfoWrap {
  padding: 40px 0 40px 0;
}

.infoTitle {
  color: var(--primary); 
  line-height: 38px;
  font-size: 20px;
}

.each {
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.infomation {
	display: flex;
	flex-direction: column;
}

.infoIconWrap {
  width: 30px;
  display: flex;
  justify-content: center;
}

.infoIcon {
	padding-right: 6px;
}

.loca {
	width: 16px;
}

.infoText {
	padding: 4px 0 0 0;
}

.masterProfile {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.dp {
  width: 60px;
  height: 60px;
  border: 5px solid var(--color-white);
}

.master {
	display: flex !important;	
	align-items: start !important;
	flex-direction: column;
	padding-right: 25px;
}

.master > p {
	font-size: 14px; 
  font-weight: 600; 
}

.memeberProfiles {
	margin-top: 4px;
	display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 72px;
  overflow: hidden;
}

.profileWrapper {
	position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  top: 0;
}

.profileInfo {
  display: none;
 	font-size: 14px;
 	background-color: var(--color-white);
 	margin-left: 6px;
  align-items: center;
}

.profileInfo > div {
	padding-right: 25px;
}

.profileInfo > div > p {
	font-weight: 600;
	margin-bottom: 5px;
	width: fit-content;
}

.self {
	color: var(--color-gray500);
	font-weight: 500;
}

.profileBtnContainer {
  display: flex;
}

.Btn {
  background-color: var(--color-white);
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 4px 8px 4px 7px;
  border-radius: 15px;
  font-size: 12px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.Btn:hover {
	background-color: var(--primary);
	color: var(--color-white);
}

.f {
	display: none;
	background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--color-white);
  padding: 4px 8px 4px 7px;
  border-radius: 15px;
  font-size: 12px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
}

.loginPlz {
  display: none;
  font-weight: 500;
  width: 100%;
}

#joinMoimBtn, #reviewBtn, #updateBtn, #reJoin,
.appr, .bann, .noAppr  {
	display: none;
}

.bubble {
  /* z-index: -1; */
  display: none;
  position: absolute;
  bottom: 64px;
  width: 180px;
  height: 36px;
  background-color: #fabd91;
  border-radius: 31px;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  animation: motion 0.9s 
					  infinite 
					  ease-in-out
					  alternate;
}

.bubble::after {
  border-top: 10px solid #fabd91;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 80px;
}

@keyframes motion {
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-5px);
  }
}