@charset "UTF-8";

.backgroundContainer {
	height: auto;
  width: 100%;
}

.backgroundImg {
  z-index: -1;
  filter: blur(100px);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailContainer {
  margin: 40px auto;
  width: 834px;
}

.slideContainer {
	position: relative;
}

.detail {
  position: absolute;
  top: 0px;
  height: 100%;
  border-radius: 10px;
	opacity: 1;
}

.dl {
	left: -44px;
  background: linear-gradient(90deg, rgba(62,62,62,0.19) 0%, rgba(89,89,89,0.18531162464985995) 100%);
}

.dr {
	right: -44px;
  background: linear-gradient(-90deg, rgba(62,62,62,0.19) 0%, rgba(89,89,89,0.18531162464985995) 100%);
}

.imgSlideList{
	overflow: hidden;
}

.imgWrap {
	width: 834px;
  height: 398px;
  display: flex;
}

.img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

.detailInfoContainer {
  width: 834px; 
  margin-top: 28px;
  padding: 60px 60px 30px 60px;
  background: var(--color-white); 
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.21);
}

.headArea {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px var(--color-black) solid;
}

.detailTitle {
  font-size: 28px;
  word-wrap: break-word;
}

.category {
  color: var(--color-gray500); 
  font-size: 14px; 
  font-weight: 500;
  line-height: 28px; 
  word-wrap: break-word;
}

.intro {
  font-size: 16px;
  font-weight: 500; 
  line-height: 38px; 
  word-wrap: break-word;
  padding: 30px 0 40px 0;
}

.icons {
  display: flex;
  align-items: center;
}

.d {
  width: 40px;
}

.dc {
	bottom: 8px;
  font-size: 12px;
  left: 38px;
}

.bookmarkIcon {
	width: 40px;
  margin-left: 26px;
}

.eachInfoWrap {
  padding: 40px 0 40px 0;
}

.infoTitle {
  color: var(--primary); 
  line-height: 38px;
  font-size: 20px;
}

.each {
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.infomation {
	display: flex;
	flex-direction: column;
}

.infoIconWrap {
  width: 30px;
  display: flex;
  justify-content: center;
}

.infoIcon {
	padding-right: 6px;
}

.loca {
	width: 16px;
}

.infoText {
	padding: 4px 0 0 0;
}


.masterProfile {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.dp {
  width: 60px;
  height: 60px;
}

.masterName {
	margin-left: 14px;
  font-size: 18px; 
  font-weight: 500; 
  word-wrap: break-word;
}

.memeberProfiles {
	margin-top: 8px;
	display: flex;
  position: relative;
  height: 80px;
}

.members {
  position: absolute;
  top: 0; 
}	

.move {
	left: 44px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}