<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게더</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/nav.css">
</head>
<body>
  <nav class="nav">
    <div class="leftContainer">
      <div  class="logoContainer">
        <img class="logo" src="logo.png" alt="로고">
      </div>
      <div class="menuContainer">
        <ul class="menu">
          <li class="menuItem">게더</li>
          <li class="menuItem">클럽</li>
          <li class="menuItem">챌린지</li>
          <li class="menuItem">피드</li>
        </ul>
      </div>
    </div>
    <div class="rightContainer">
      <div class="searchContainer">
        <div class="searchBox">
          <button class="searchBtn" type="submit">
            <img class="searchIcon" src="searchIcon.png" alt="로그인">
          </button>
        </div>
      </div>
        <div class="userContainer" style="background-color: aqua;">
          <div class="loginContainer" style="background-color: bisque;">
            <img class="icon" src="loginIcon.png" alt="로그인">
            <span class="text">Login</span>
          </div>
          <div class="helpContainer" style="background-color:antiquewhite;">
            <img class="icon" src="helpIcon.png" alt="고객센터">
            <span class="text">Help</span>
          </div>
        </div>
    </div>
    </nav>
</body>
</html>