@charset "UTF-8";

.mainContainer {
  padding: 4px 0 10px 0;
}

.mainAreaTitle {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 48px;
}

.gr {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,135,49,1) 0%, rgba(202,216,91,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.areaTitleIcon {
  padding: 0 6px 0 6px;
  width: 30px;
}

.slideWrap {
	padding: 0 38px 0 38px;
}

.slideContainer {
  overflow: hidden;
}

.slideList {
  margin: 19px auto;
  display: flex;
  width: 100%;
}

.hot {
	width: 24px;
}