@charset "UTF-8";

.bannerContainer {
  width: calc(100vw - (100vw - 100%));
}

.bannerImg {
  width: 100%;
  object-fit: cover;
}

.contentsContainer {
  margin: 51px auto;
  padding: 4px 0 10px 0;
  width: 1132px;
  position: relative;
}

.areaTitle {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 46px;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,135,49,1) 0%, rgba(202,216,91,1) 100%);
  color: transparent;
  -webkit-background-clip: text; */
}

.areaTitleIcon {
  padding: 0 6px 0 6px;
}

.slideContainer {
  margin: 0 38px 0 38px; 
  overflow: hidden;
}

.slideList {
  margin: 19px auto;
  display: flex;
  width: 100%;
  transform: translateX(-1056px);
}

.slideContents {
  padding: 0 9px;
  flex: 0 0 21%;
}

.eachWrap {
  width: 244px;
  height: 390px;
  overflow: hidden;
  border: 1px solid var(--color-gray100);
  border-radius: 10px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.thumnailContainer {
  width: 100%;
  height: 244px;
  position: relative;
}

.thumnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.infoContainer {
  padding: 11px;
}

.hashtagContainer {
  margin-top: 6px;
}

.hashtag {
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  margin-right: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: all 0.3s ease;
}

.hashtag:hover {
  background-size: 100% 100%;
  color: var(--color-white);
}

.locationDateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray500);
  font-size: 14px;
  margin-top: 3px;
}

.locationContainer {
  display: flex;
  align-items: center;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-top: 6px;
}

.userProfileWrap {
  display: flex;
  align-items: center;
}

.profileImgWrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nickname {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.heartWrap {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: right;
}

.heartIcon {
  width: 38px;
  /* margin-right: 13px; */
}

.heartCount {
  color: var(--color-red);
  font-size: 10px;
  position: absolute;
  bottom: 2px;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 390px;
  border-radius: 8px;
  transition: all 0.2s linear 0s;
  opacity: 0;
  position: absolute;
  bottom: 30px;
}

._hover {
  opacity: 1;
}

.left {
  background: url('../../img/icon/arrowL.png') no-repeat,
              linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
  background-position: center center;
  left: 0;
}

.right {
  right: 0;
  background: url('../../img/icon/arrowR.png') no-repeat,
              linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
  background-position: center center;
}

/* 툴팁 스타일 */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}