@charset "UTF-8";

.bannerContainer {
  width: calc(100vw - (100vw - 100%));
}

.bannerImg {
  width: 100%;
  object-fit: cover;
}

.contentsContainer {
  display: flex;
  height: 458px;
  flex-direction: column;
  margin-top: 76px;
  padding: 0 400px;
}

.areaTitle {
  display: flex;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,135,49,1) 0%, rgba(202,216,91,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  width: 450px;
}

.areaTitleIcon {
  padding-left: 6px;
}

.slideContentsWrap {
  margin-top: 32px;
  display: flex;
  align-items: center;
  width: auto;
}

.eachContainer {
  padding: 0 12px;
}

.eachWrap {
  width: 254px;
  height: auto;
  overflow: hidden;
  border: 1px solid var(--color-gray100);
  border-radius: 10px;
}

.thumnail {
  width: 100%;
  object-fit: cover;
}

.infoContainer {
  padding: 7px 11px 7px 11px;
}

.hashtagContainer {
  margin-top: 6px;
}

.hashtag {
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  margin-right: 4px;
  margin-bottom: 5px;
}

.locationDateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray500);
  font-size: 14px;
  margin-top: 3px;
}

.locationContainer {
  display: flex;
  align-items: center;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  margin-top: 6px;
}

.userProfileWrap {
  display: flex;
  align-items: center;
}

.profileImgWrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nickname {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.heartWrap {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: right;
}

.heartIcon {
  width: 40px;
  margin-right: 13px;
}

.heartCount {
  color: var(--color-red);
  font-size: 10px;
  position: absolute;
  bottom: 2px;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.arrowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 400px;
  border-radius: 8px;
  transition: all 0.2s linear 0s;
  opacity: 0;
}

.btnHover {
  opacity: 1;
}

.left {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
}


.right {
  background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(221,221,221,1) 0%, rgba(236,236,236,1) 100%);
}