.nav {
    height: 121px;
    padding: 0 171px;
    /* background-color: var(--color-white); */
	background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContainer {
    display: flex;
    align-items: center;

}

.logo {
    width: 194px;
}

.menu {
    display: flex;
}

.menuItem {
    font-size: 20px;
    font-weight: 500;
    padding-left: 40px;
}

.rightContainer {
    display: flex;
    align-items: center;

}

.searchBox {
    width: 360px;
    height: 34px;
    border-radius: 20px;
    border: 1px solid var(--color-gray);
    display: flex;
    justify-content: right;
    align-items: center;
}

.searchBtn {
    background-color: transparent;
    display: flex;
}

.searchIcon {
    width: 24px;
    padding-right: 20px;
}

.userContainer {
    display: flex;
    background-color: aqua;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 31px;
}

.icon {
    width: 37px;
}

.text {
    color: var(--color-gray);
    font-size: 12px;
}